# Handling_imbalanced dataset

In [2]:
import pandas as pd
import numpy as np

In [5]:
# set the random seed for reproductiblity
np.random.seed(123)

# createe a data frame with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio )
n_class_1 = n_samples - n_class_0

In [6]:
n_class_0, n_class_1

(900, 100)

In [7]:
n_class_0,n_class_1

(900, 100)

In [10]:
class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
    'feature_2' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
    'target' : [0] * n_class_0
})
class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 2, scale = 1, size = n_class_1),
    'feature_2' : np.random.normal(loc = 2, scale = 1, size = n_class_1),
    'target' : [1] * n_class_1
})

In [13]:
df = pd.concat([class_0, class_1]).reset_index(drop = True)

In [14]:
df

     feature_1  feature_2  target
0    -0.300232   0.667532       0
1    -0.632261   0.100458       0
2    -0.204317  -0.012610       0
3     0.213696   0.219907       0
4     1.033878   0.813623       0
..         ...        ...     ...
995   0.438134   4.540514       1
996   1.232181   1.917294       1
997   2.387223   2.444621       1
998   0.787082   3.896404       1
999   4.018714   2.237581       1

[1000 rows x 3 columns]

In [15]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

# PERFORMING UPSAMPLING

In [16]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [17]:
df_minority.head()

     feature_1  feature_2  target
900   1.632581   3.300921       1
901   2.575273   1.069348       1
902   2.439351   1.148687       1
903   1.271848   2.136584       1
904   1.111470   1.575746       1

In [18]:
df_majority.head()

   feature_1  feature_2  target
0  -0.300232   0.667532       0
1  -0.632261   0.100458       0
2  -0.204317  -0.012610       0
3   0.213696   0.219907       0
4   1.033878   0.813623       0

In [22]:
from sklearn.utils import resample

In [24]:
df_minority_upsample = resample(df_minority,
                                   replace=True, # sample with replacement
                                   n_samples=len(df_majority), # to match the majority class
                                   random_state=45)

In [26]:
df_minority_upsample.shape

(900, 3)

In [28]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [31]:
df_upsampled = pd.concat([df_majority, df_minority_upsample])

In [32]:
df_upsampled

     feature_1  feature_2  target
0    -0.300232   0.667532       0
1    -0.632261   0.100458       0
2    -0.204317  -0.012610       0
3     0.213696   0.219907       0
4     1.033878   0.813623       0
..         ...        ...     ...
965   2.165885   0.905984       1
925   2.343913   1.878102       1
919   3.007354   0.559427       1
911   1.786481   0.846491       1
998   0.787082   3.896404       1

[1800 rows x 3 columns]

In [33]:
df_upsampled.shape

(1800, 3)

## DOWNSAMPLING

In [35]:
class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
    'feature_2' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
    'target' : [0] * n_class_0
})
class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 2, scale = 1, size = n_class_1),
    'feature_2' : np.random.normal(loc = 2, scale = 1, size = n_class_1),
    'target' : [1] * n_class_1
})

In [36]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [ ]:
df = pd.concat([class_0, class_1]).reset_index(drop = True)

In [37]:
df_majority_downsample = resample(df_majority,
                                   replace=False, # sample with replacement
                                   n_samples=len(df_minority), # to match the majority class
                                   random_state=45)

In [38]:
df_majority_downsample.shape

(100, 3)

In [41]:
df_downsampled = pd.concat([df_minority, df_majority_downsample])

In [42]:
df_downsampled

     feature_1  feature_2  target
900   1.632581   3.300921       1
901   2.575273   1.069348       1
902   2.439351   1.148687       1
903   1.271848   2.136584       1
904   1.111470   1.575746       1
..         ...        ...     ...
606  -0.013179   0.554366       0
619  -0.046958  -0.272463       0
881   0.686476  -0.867728       0
772   1.163805  -1.328888       0
62    0.111135   1.075534       0

[200 rows x 3 columns]

In [43]:
df_downsampled['target'].value_counts()

1    100
0    100
Name: target, dtype: int64