# LABEL OORDIAL ENCODING

In [1]:
from sklearn.preprocessing import LabelEncoder

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({ 
    'color':['red','blue','green','red','green','blue']
})

In [4]:
df

   color
0    red
1   blue
2  green
3    red
4  green
5   blue

In [5]:
# create an instance for label encoder

In [7]:
encoder = LabelEncoder()

In [8]:
encoder.fit_transform(df['color'])

array([2, 0, 1, 2, 1, 0])

In [9]:
# ordinal encoding 
# rank wise encoding

In [10]:
from sklearn.preprocessing import OrdinalEncoder

In [13]:
df = pd.DataFrame({
    'size' : ['small', 'medium', 'large','small','large','medium']
})

In [14]:
df.head()

     size
0   small
1  medium
2   large
3   small
4   large

In [15]:
## creata an instance for an oridnal encoder

In [18]:
encoder = OrdinalEncoder(categories = [['small','medium','large']])

In [20]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [0.],
       [2.],
       [1.]])