In [1]:
import pandas as pd

In [3]:
from sklearn.preprocessing import OneHotEncoder

In [4]:
# created a dataframe

In [13]:
df = pd.DataFrame({ 
    'color':['red','blue','green','red','green','blue']
})

In [14]:
df

   color
0    red
1   blue
2  green
3    red
4  green
5   blue

In [8]:
# creata a instance for one hot encoder

In [15]:
encoder = OneHotEncoder()

In [25]:
encoder.fit_transform(df[['color']])

<6x3 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [26]:
# fit the encoder in a dataframe and transform the categorical variable
encoded = encoder.fit_transform(df[['color']]).toarray()

In [27]:
encoded

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [33]:
import pandas as pd

In [35]:
import numpy as np

In [38]:
encoded_df = pd.DataFrame(encoded,columns = encoder.get_feature_names_out())

In [39]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         0.0          1.0        0.0
5         1.0          0.0        0.0

In [41]:
pd.concat([df,encoded_df],axis = 1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4  green         0.0          1.0        0.0
5   blue         1.0          0.0        0.0